version: "3.3"
services:
  noticebee-cedp-api:
    image: "kerneltechdev/nbcedp-api:main"
    ports:
      - "1338:5000"
    environment:
      - PORT=5000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
  noticebee-cedp-client:
      image: "kerneltechdev/nbcedp-client:main"
      ports:
        - "1337:1337"
      environment:
        - VITE_API_URL=https://ncedp-api.noticebee.com
  redis:
    image: "redis:alpine"
  watchtower:
     image: containrrr/watchtower
     volumes:
       - /var/run/docker.sock:/var/run/docker.sock
     environment:
       - WATCHTOWER_CLEANUP=true 
       - WATCHTOWER_LABEL_ENABLE=true